$lightBlue: #4BA7EE;
$halfBlue: #105AA3;
$darkBlue: #003970;
$veryDarkBlue: #001841;
$thirtyBlue: rgba(75, 167, 238, 0.3);
$sixtyBlue: rgba(75, 167, 238, 0.6);
$gold: #FAC937;
$grey: #616469;
$halfgrey: #4E5156;
$lightgrey: #DEE1E8;
$white: #fff;
$red: #E82E34;
$green: #6DC138;
