<div class="section">
  <div class="hotel-name">
    <h1><span>HOTEL</span> Mieres del Camin Apartamentos</h1>
    <div class="stars">
      <i class="material-icons">star_rate</i>
      <i class="material-icons">star_rate</i>
      <i class="material-icons">star_rate</i>
      <i class="material-icons">star_rate</i>
    </div>
  </div>

  <div class="plan-cards">
    <div class="card">
      <h3>Solo alojamiento</h3>
      <ul>
        <li>Sin regimen</li>
        <li>Botella de agua de bienvenida</li>
      </ul>
      <div class="plan-selector">
        <input type="radio" id="plan-choice" name="" value="email">
        <label for="plan-choice5">Elegir régimen</label>
      </div>
    </div>

    <div class="card">
      <h3>Alojamiento y Desayuno</h3>
      <ul>
        <li>Desayuno buffet completo</li>
      </ul>
      <div class="plan-selector">
        <input type="radio" id="plan-choice" name="" value="email">
        <label for="plan-choice5">Elegir régimen</label>
      </div>
    </div>

    <div class="card">
      <h3>Media Pension</h3>
      <ul>
        <li>Desayuno buffet completo</li>
        <li>Cena buffet</li>
        <li>No incluye</li>
      </ul>
      <div class="plan-selector">
        <input type="radio" id="plan-choice" name="" value="email">
        <label for="plan-choice5">Elegir régimen</label>
      </div>
    </div>

    <div class="card">
      <h3>Todo incluido</h3>
      <ul>
        <li>Dispondrás de comida y bebida todo el día y durante toda tu estancia.</li>
        <li>Restaurante buffet</li>
        <li>Snack Bar</li>
        <li>Sevicio de bares (marcas nacionales)</li>
      </ul>
      <div class="plan-selector">
        <input type="radio" id="plan-choice" name="" value="email">
        <label for="plan-choice5">Elegir régimen</label>
      </div>
    </div>

    <div class="card">
      <h3>Unlimited Services</h3>
      <ul>
        <li>Restaurante buffet con bebidas Premium</li>
        <li>Restaurante a la carta (una cena por estancia)</li>
        <li>Snack Bar con bebidas Premium</li>
        <li>Minibar incluido</li>
        <li>Acceso a SPA y 45 minutos de masaje por persona</li>
        <li>Actividades deportivas (acuáticas sin motor)</li>
        <li>Caja fuerte</li>
        <li>Parking gratuito</li>
        <li>Lavanderia</li>
      </ul>
      <div class="plan-selector">
        <input type="radio" id="plan-choice" name="" value="email">
        <label for="plan-choice5">Elegir régimen</label>
      </div>
    </div>
  </div>
</div>
