<div class="section">
  <div class="plus bigPan">
    <div class="red-sign">
      <p>EXCLUSIVO HOTELES.COM</p>
    </div>
    <div class="big-chevron" (click)="toogleDropdown(3)">
      <i class="material-icons">expand_more</i>
      <h3>Mejora tu estancia</h3>
      <p>Opcional</p>
    </div>

    <div class="options op1 inactive">
      <div class="important-content">
        <div>
          <img src="assets/img/yoga.png" alt="yoga">
        </div>
        <div>
          <h4>Olvídese de la rutina</h4>
          <p>Las experiencias spa de agua tienen una presencia muy especial en SPA Sensations. No es extraño si consideramos que la mayor parte del planeta, así como del propio cuerpo humano, están compuestos de agua.
             El arte de recrear experiencias de agua en variaciones ilimitadas es la base de la propuesta de SPA Sensations a sus clientes, aportando el refinamiento al baño y a la hidratación en todas sus formas. Un mundo mágico de posibilidades, más allá de la terapia y del que ahora usted, también podrá disfrutar.</p>
          <div class="small-chevron" (click)="toogleDropdown(1)">
            <h5>Más información y condiciones</h5>
            <i class="material-icons">expand_more</i>
          </div>
        </div>
      </div>

      <div class="extra-info">
        <p>Incluye</p>
        <ul>
          <li>Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes y palacios de Java Central, en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias.</li>
          <li>Baño floral balinés: con aceite de almendra dulce y aromas de jazmín.</li>
          <li>Baño oceánico: con sal marina y gajos de mandarina o lima.</li>
          <li>Baño de pies floral: baño aromático de pies, con pétalos y aromas.</li>
          <li>Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático.</li>
          <li>Rain shower.</li>
        </ul>
        <p class="conditions">Valores no acumulables a otras promociones similares</p>
      </div>
    </div>

    <div class="options op2 inactive">
      <div class="important-content">
        <div>
          <img src="assets/img/spa.png" alt="spa">
        </div>
        <div>
          <h4>Experiencias y programas SPA con agua</h4>
          <p>Las experiencias spa de agua tienen una presencia muy especial en SPA Sensations. No es extraño si consideramos que la mayor parte del planeta, así como del propio cuerpo humano, están compuestos de agua.
             El arte de recrear experiencias de agua en variaciones ilimitadas es la base de la propuesta de SPA Sensations a sus clientes, aportando el refinamiento al baño y a la hidratación en todas sus formas. Un mundo mágico de posibilidades, más allá de la terapia y del que ahora usted, también podrá disfrutar.</p>
          <div class="small-chevron sc2" (click)="toogleDropdown(2)">
            <h5>Más información y condiciones</h5>
            <i class="material-icons">expand_more</i>
          </div>
        </div>
      </div>
      <div class="extra-info">
        <p>Incluye</p>
        <ul>
          <li>Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes y palacios de Java Central, en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias.</li>
          <li>Baño floral balinés: con aceite de almendra dulce y aromas de jazmín.</li>
          <li>Baño oceánico: con sal marina y gajos de mandarina o lima.</li>
          <li>Baño de pies floral: baño aromático de pies, con pétalos y aromas.</li>
          <li>Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático.</li>
          <li>Rain shower.</li>
        </ul>
        <p class="conditions">Valores no acumulables a otras promociones similares</p>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="red-sign">
      <p>EXCLUSIVO HOTELES.COM</p>
    </div>
    <div class="big-chevron">
      <i class="material-icons">expand_more</i>
      <h3>Servicios de habitación </h3>
      <p>Opcional</p>
    </div>
  </div>
</div>
