@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
.navbar-div {
  height: 55px;
  width: 93%;
  margin: auto;
  position: relative;
}
.navbar-div .tabs {
  display: flex;
  position: absolute;
  right: 10%;
  bottom: 0;
  justify-content: space-around;
  height: 28px;
  width: 204px;
}
.navbar-div .tabs a {
  text-decoration: none;
}
.navbar-div .tabs div {
  width: 120px;
  text-align: center;
}
.navbar-div .tabs .active {
  color: #003970;
  border-bottom: 2px solid #003970;
}
.navbar-div .tabs .inactive {
  color: #4BA7EE;
}

.section {
  width: 93%;
  margin: auto;
}
.section .hotel-name {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 60px auto;
}
.section .hotel-name h1 {
  margin: 0;
  color: #003970;
  font-size: 30px;
  font-weight: bold;
}
.section .hotel-name h1 span {
  font-size: 24px;
  font-weight: 300;
}
.section .hotel-name .stars {
  color: #FAC937;
  height: 30px;
  margin-top: 15px;
  margin-left: -80px;
}
.section .hotel-name .stars i {
  width: 15px;
  font-size: 20px;
}
.section .red-sign {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #E82E34;
  padding: 0 40px;
}
.section .red-sign p {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
.section .plan-cards {
  display: flex;
  justify-content: space-around;
}
.section .plan-cards .card {
  width: 19%;
  height: 488px;
  position: relative;
  margin: 5px;
  padding: 20px;
  border: 1px solid rgba(75, 167, 238, 0.3);
}
.section .plan-cards .card h3 {
  width: 40%;
  height: 80px;
  margin: 0 auto;
  font-size: 16px;
  color: #105AA3;
  text-align: center;
}
.section .plan-cards .card ul {
  font-weight: 300;
  font-size: 15px;
  color: #001841;
}
.section .plan-cards .card ul li {
  margin-bottom: 5px;
}
.section .plan-cards .card .plan-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  margin-bottom: 20px;
  margin-left: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  color: #616469;
  cursor: pointer;
  border: 1px solid #fff;
}
.section .plan-cards .card .plan-selector:hover {
  border: 1px solid rgba(75, 167, 238, 0.6);
}
.section .small-chevron:hover {
  cursor: pointer;
}
.section .services {
  position: relative;
  border: 1px solid #DEE1E8;
  height: 100px;
}
.section .bigPan {
  height: 100px;
  overflow: hidden;
}
.section .inactive {
  height: 200px;
}

.plus {
  position: relative;
  border: 1px solid #DEE1E8;
  margin: 30px auto;
}
.plus .options {
  border: 1px solid #DEE1E8;
  width: 97%;
  margin: 10px auto;
  overflow: hidden;
}
.plus .options div {
  margin-right: 30px;
}
.plus .options img {
  width: 270px;
}
.plus .options h4 {
  color: #003970;
  font-size: 18px;
  font-weight: bold;
}
.plus .options p {
  color: #4E5156;
  font-size: 14px;
  font-weight: 300;
}
.plus .options ul {
  color: #616469;
  font-size: 14px;
  font-weight: 300;
  height: 150px;
}
.plus .options .conditions {
  color: #003970;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.plus .options .small-chevron {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.plus .options .small-chevron h5 {
  color: #4BA7EE;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.plus .options .small-chevron i {
  color: #4BA7EE;
  height: 40px;
}
.plus .options .important-content {
  display: flex;
  position: relative;
}
.plus .options .extra-info {
  width: 80%;
  margin: auto;
}

.plan-selector input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.plan-selector:hover {
  border: 1px solid #4BA7EE;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 0 0 10px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

.plan-selector:hover input ~ .checkmark {
  background-color: #DEE1E8;
}

.plan-selector input:checked ~ .checkmark {
  background-color: #DEE1E8;
  border: 1px solid #6DC138;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.plan-selector input:checked ~ .checkmark:after {
  display: block;
}

.plan-selector .checkmark:after {
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #6DC138;
}

.big-chevron {
  padding: 20px;
  display: flex;
}
.big-chevron i {
  color: #4BA7EE;
  height: 30px;
  margin: 0;
  font-size: 44px;
}
.big-chevron h3 {
  color: #4BA7EE;
  height: 30px;
  width: 140px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.big-chevron p {
  height: 30px;
  margin: 10px 30px;
  color: #105AA3;
  font-size: 12px;
  font-weight: 300;
}

.big-chevron:hover {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

/*# sourceMappingURL=styles.css.map */
